@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #222222;
    position: relative;
}

/* banner */

.container-banner-cowork {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0 0;
    width: min(100%, 1340px);
    margin: 0 auto;
}

.contain-banner-cowork {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.contain-banner-cowork .contain-banner-title {
    position: static;
    line-height: 80px;
    z-index: 10;
}

.contain-banner-cowork .contain-banner-title h2 {
    font-size: 80px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 100;
    color: #fff;
}

.contain-banner-cowork .contain-banner-title h2>i {
    font-family: "Montserrat Alternates", sans-serif;
}

.contain-banner-cowork .contain-banner-title h2>strong {
    text-transform: uppercase;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
}

.contain-banner-figure {
    width: 100%;
    margin-top: -40px;
}

.contain-banner-figure img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 243.5px;
}

.cowork-banner-down {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.cowork-banner-down p {
    color: #fff;
    line-height: 18px;
    font-family: "Montserrat Alternates", sans-serif;
    width: 60%;
    font-size: 14px;
    font-weight: 100;
}

.cowork-banner-down img {
    width: 120px;
    height: 120px;
}

/* MARCAS*/

.marcas {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.scroll {
    position: relative;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
}

.scroll .este {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    align-items: center;
    animation: animate 30s linear infinite;
}

.scroll p {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 30px;
    width: auto;
    height: 80px;
    text-transform: uppercase;
    padding: 0 20px;
}

.scroll i {
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 100%;
    width: auto;
    padding: 11px;
    height: 50px;
}

.scroll p,
.scroll i {
    margin: 0 20px;
    transition: .5s;
    cursor: pointer;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll img:not(:hover) {
    filter: grayscale(100%);
}

@keyframes animate {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Espacios de Oficinas */

.container-space {
    padding: 6rem 0;
    width: min(100%, 1340px);
    margin: 0 auto;
}

.container-space .contain-banner-title {
    text-align: center;
    padding-bottom: 40px;
}

.container-space .contain-banner-title h2 {
    font-size: 52px;
    font-family: "Montserrat Alternates", sans-serif;
    color: #fff;
}

.container-space .contain-banner-title h2>i {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 100;
}

.container-space .contain-banner-title h2>strong {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
}

.container-office-space {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px 0;
}

.contain-office {
    position: relative;
    width: 24%;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
}

.contain-office p:nth-child(1) {
    font-family: "Montserrat Alternates", sans-serif;
    color: #fff;
    text-align: right;
    line-height: 25px;
    width: 90%;
    font-size: 20px;
    cursor: default;
}

.contain-position img {
    position: relative;
    transition: 0.5s ease-out;
}

.contain-position img:hover {
    box-shadow: 0px 2px 30px -15px;
    color: #fff;
    border-radius: 50px;
}

.contain-position p {
    background-color: #41414152;
    position: absolute;
    width: 42%;
    height: 13vh;
    top: 72%;
    right: 46%;
    color: #fff;
    font-size: 30px;
    line-height: 28px;
    font-family: "Montserrat Alternates", sans-serif;
    display: flex;
    align-items: center;
}

.contain-office .office-flecha {
    width: 200px;
    height: 200px;
    cursor: default;
}

/* Servicios */

.container-service-cowork {
    background-color: #000;
    margin: auto;
    border-radius: 50px;
    padding-bottom: 4rem;
    width: min(95%, 1340px);
    margin: 0 auto;
}

.container-service-cowork .contain-banner-title {
    text-align: center;
    padding: 80px 0 40px 0;
}

.container-service-cowork .contain-banner-title h2 {
    font-size: 52px;
    font-family: "Montserrat Alternates", sans-serif;
    color: #fff;
}

.container-service-cowork .contain-banner-title h2>i {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 100;
}

.container-service-cowork .contain-banner-title h2>strong {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 40px 20px;
    width: 100%;
}

.card {
    width: 20%;
    height: 200px;
    background: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.15s;
    cursor: pointer;
}

.card::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    background: radial-gradient(960px circle at 0 0,
            rgba(255, 255, 255, 0.1),
            transparent 40%);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #000000;
    border-radius: inherit;
    transition: all 0.25s;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
}

.card-content i {
    color: #fff;
    font-size: 32px;
    height: 8vh;
}

.card-content p {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    height: 8vh;
    font-family: "Montserrat Alternates", sans-serif;
    line-height: 23px;
    width: 80%;
}

.card:hover {
    transform: scale(0.98);
}

.card:hover::before {
    opacity: 1;
}

/* Question */

.question-container-cowork .question-container-title {
    text-align: center;
    padding: 100px 0 50px 0;
}

.question-container-cowork .question-container-title h2 {
    font-size: 52px;
    color: #fff;
}

.question-container-cowork .question-container-title h2>strong {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
}

.question-container-cowork .questions-container span {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 20px;
}

.question-container-cowork .questions-container .question p {
    font-family: "Montserrat Alternates", sans-serif;
}

.question {
    border-bottom: 1px solid #888888;
}

.question button {
    border: none;
    background-color: transparent;
    color: #e2e2e2;
    padding: 20px 10px 20px 0;
}

.question button i {
    color: #e2e2e2;
    font-size: 15px;
}

/* Contacto */

.contact-cowork {
    background-color: #000;
    width: 88%;
    margin: auto;
    border-radius: 50px;
    padding: 0 30px 0px 0;
    width: min(100%, 1340px);
    margin: 0 auto;
}

.contacto-container-title {
    padding: 80px 0 80px 0;
    text-align: center;
}

.contact-cowork .contacto-container-title h2 {
    font-size: 52px;
    color: #fff;
}

.contact-cowork .contacto-container-title h2>strong {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
}

/* form */

.contact-cowork .form-map-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-cowork .form-map-contact form,
.contact-cowork .form-map-contact .map-width {
    width: 45%;
}

.contact-cowork .form-map-contact form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.contact-cowork .form-map-contact form label {
    color: #fff;
    margin-bottom: 10px;
    font-family: "Montserrat Alternates", sans-serif;
}

.contact-cowork .form-map-contact form input {
    margin-bottom: 20px;
}

.contact-cowork .form-map-contact form input,
textarea {
    background-color: #222222;
    border: none;
    padding: 10px 0 10px 10px;
    width: 80%;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    color: white;
    border-radius: 10px;
}

.contact-cowork .form-map-contact form textarea {
    height: 20vh;
}

.contact-cowork .map-width iframe {
    filter: brightness(50%);
    transition: all 0.9s;
}

.map-width .map-contacto iframe:hover {
    filter: brightness(100%);
}

.contact-cowork .redes-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 60px 0;
    border-top: 1px solid #fff;
    margin-top: 5rem;
}

.contact-cowork .redes-contact i {
    color: #b4b4b4;
    font-size: 40px;
    cursor: pointer;
    transition: all 0.9s;
}

.contact-cowork .redes-contact i:hover {
    color: white;
}

/* footer */

footer {
    background-color: #222222;
    padding: 60px 0 20px 0;
}

.footer-contain {
    width: 85%;
    margin: auto;
}

.footer-contain p {
    color: #e2e2e2;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 13px;
    width: min(100%, 1340px);
    margin: 0 auto;
}

/* responsive */

@media(max-width:715px) {
    .contain-banner-cowork .contain-banner-title h2 {
        font-size: 40px;
        text-align: center;
        line-height: normal;
    }
    .contain-banner-figure img {
        border-radius: 100%;
    }
    .cowork-banner-down {
        flex-direction: column;
        gap: 40px;
        width: 100%;
    }
    .cowork-banner-down p {
        width: 80%;
        text-align: justify;
    }
    .container-space .contain-banner-title h2{
        font-size: 40px;
    }
}