/* Proyectos */
.projects{
    height: auto;
    background-color: white;
    padding: 6rem 0 0 0;
}
.projects .title-projects h1{
    font-weight: 500;
    font-family: "Raleway", serif;
    text-transform: uppercase;
    font-size: 40px;
    color: black;
    text-align: center;
    font-weight: 600;
}

.list-projects{
    margin: 3rem 0 3rem 0;
}
.list-projects ul{
    gap: 3px;
}
.list-projects ul li{
    font-weight: 600;
    cursor: pointer;
    transition: 0.8s;
    margin-right: 10px;
    padding: 16px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 18px;
    list-style: none;
}


/* Galeria */

.list-projects .filter-item.active{
    background-color: #e5e5e5;
}

.galeria-card.hide{
    display: none;
}

.galeria-card.show{
    animation: fadeIn .5s ease;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.galeria{
    display: flex;
    align-items: center;
}

.galeria-img{
    width:95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.3rem;
}
.galeria-card{
    width: 30%;
    height: 350px;
    display: block;
    position: relative;
    overflow: hidden;
}
.galeria-prue{
    width: 100%;
    height: 100%;
}
.galeria-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}













