@import url('https://fonts.googleapis.com/css2?family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Grenze", serif;
}
:root{
    --color-brown: #36332D;
    --color-cream: #E1BC8A;
}
body{
    background-color: #42392C;
    font-family: "Grenze", serif;
}

/* header */

header{
    position: relative;
    background-color: var(--color-brown);
}
.nav-container{
    width: min(90%, 1340px);
    height: 120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-image img{
    width: 125px;
    height: 120px;
}
.nav-list{
    display: flex;
    align-items: center;
    gap: 3rem;
    z-index: 10;
}
.nav-input{
    display: none;
}
.nav-link{
    display: flex;
    color: #D6D8DB;
    font-size: 22px;
    transition: 0.7s;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    transition: 0.9s ease;
    text-decoration: none;
}
.nav-link:hover{
    color: var(--color-cream);
}
.nav-list .nav-item button{
    overflow: hidden;
    position: relative;
    font-size: 22px;
    color: #F3EFE6;
    padding: 10px 23px;
    border: 1px solid #E1BC8A;
    background-color: #2C2D2F;
    transition: color 0.5s;
    text-transform: uppercase;
    z-index: 1;
}
.nav-list .nav-item button:hover:before {
    top: -114px;
    left: -33px;
    background: #E1BC8A;
    transition: all 0.5s ease-in-out;
}
.nav-list .nav-item button:hover {
    color: var(--color-brown);
}
.nav-list .nav-item button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #F3EFE6;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}
.nav-item{
    text-align: center;
}

/* coworking */

.nav-link-cowork {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  font-family: "Fredoka", sans-serif;
  text-transform: uppercase;
  text-shadow:
    0 0 3px #ffa500,
    0 0 3px #ffffff,
    0 0 3px #ff8c00,
    0 0 3px #ff8c00,
    0 0 3px #ff8c00;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
  line-height: 10px;
}

.nav-animate:hover {
    animation-name: elementor-animation-pulse;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes elementor-animation-pulse {
  25% {
    transform: scale(1.1);
}
75% {
    transform: scale(0.9);
}
}

/* banner */

.banner{
    position: relative;
    width: 100%;
    height: 850px;
    background-image: url(img/banner.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
.banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(54, 51, 45, 0.74);
    pointer-events: none;
    z-index: 1;
}
.container-banner{
    position: relative;
    display: flex;
    flex-direction: column;
    width: min(90%, 1340px);
    margin: 0 auto;
    z-index: 2;
    padding: 200px 0 62px 0;
}
.contain .title-banner{
    margin-bottom: 66px;
    position: relative;
    display: flex;
    justify-content: end;
    gap: 30px;
}
.banner .container-banner .contain{
    text-align: right;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 150px;
}
.contain .p-second{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.contain .p-second p{
    max-width: 700px;
}
.contain .title-banner .p-1, .contain .title-banner .p-2{
    font-size: 90px;
    font-family: "Grenze", serif;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #F3EFE6;
    margin: 0;
}
.contain .title-banner a{
    position: relative;
    text-decoration-style: wavy;
    text-decoration-color: var(--color-cream);
    text-decoration-thickness: 4px;
    text-underline-position: from-font;
    color: white;
    cursor: inherit;
}
.banner .contain .parrap-1{
    margin-bottom: 42px;
}
.banner .contain p{
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.06em;
    color: #F3EFE6;
    margin: 0;
}
.btn-banner-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.btn-banner-menu:after {
    content: "";
    position: absolute;
    left: 5px;
    top: calc(50% - 0px);
    width: 98%;
    margin: 0 auto;
    height: 4px;
    background: #E1BC8A;
    z-index: 10;
}
.btn-banner-menu .banner-button{
    position: relative;
    z-index: 50;
    font-weight: 700;
    font-size: clamp(21px, 2.031vw, 48px);
    line-height: 120%;
    color: #F3EFE6;
    border: 4px solid #E1BC8A;
    text-align: center;
    text-transform: uppercase;
    padding: clamp(12px, 0.938vw, 32px) clamp(24px, 1.823vw, 48px);
    background: #36332D;
    font-family: "Grenze", serif;
    cursor: pointer;
}
.btn-banner-menu .icon{
    z-index: 50;
    font-size: 50px;
}

/* Banner - Menú */

.img-banner-fondo{
    width: 30%;
    height: 300px;
    position: absolute;
    top: 0%;
    left: 70%;
    z-index: 1;
}
.banner-menu, .title-banner-menu{
    display: flex;
    gap: 30px;
    align-items: center;
}
.title-banner-menu{
    justify-content: right;
}
.banner-menu{
    width: min(100%, 1340px);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 500px;
}
.banner-menu figure{
    position: absolute;
    top: 0;
    right: 15%;
    z-index: 8;
}
.title-banner-menu{
    width: 50%;
}
.title-banner-menu h2{
    font-size: 60px;
    color: white;
    text-transform: uppercase;
}
.title-banner-menu img{
    width: 80px;
    height: 50px;
}
.banner-menu figure img{
    width: 500px;
    height: 509px;
	animation: rotate 0.5s linear infinite;
	animation-play-state: paused;
	animation-delay: calc(var(--scroll) * -1s);
	animation-iteration-count: 1;
	animation-fill-mode: both;
}
@keyframes  rotate {
	to {
		transform: rotate(360deg);
	}
}

/* premium */

.container-premium{
    position: relative;
    width: 100%;
    height: 1100px;
    background-image: url(img/coffee-item.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 100px 0;
    clip-path: inset(0 0 10% 0); 
}
.container-premium .title-premium,
.container-menu .title-menu,
.container-oferta .title-oferta,
.container-gallery .title-gallery,
.essence-container .title-menu,
.question-container-nosotros .title-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.container-premium .title-premium img,
.container-menu .title-menu img,
.container-oferta .title-oferta img,
.container-gallery .title-gallery img,
.essence-container .title-menu img,
.question-container-nosotros img
{
    width: 80px;
    height: 50px;
}
.container-premium .title-premium h2{
    color: var(--color-brown) !important;
}
.container-premium .title-premium h2,
.container-menu .title-menu h2,
.container-oferta .title-oferta h2,
.container-gallery .title-gallery h2,
.essence-container .title-menu h2,
.question-container-nosotros h2{
    font-size: 61px;
    text-transform: uppercase;
    color: #fff;
}
.container-coffees-premium{
    width: min(100%, 1340px);
    margin: 0 auto;
    padding: 50px 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}
.coffees-premium{
    text-align: center;
    width: 32%;
}
.coffees-premium img{
    width: 100%;
    height: 350px;
}
.coffees-premium .name-precio h2{
    font-size: 50px;
    text-transform: uppercase;
    color: var(--color-brown);
    text-align: center;
    line-height: 120%;
    margin-bottom: 10px;
}
.coffees-premium .name-precio p{
    font-size: 49px;
    color: var(--color-cream);
    line-height: 120%;
    font-weight: 800;
    margin-bottom: 30px;
}
.coffees-premium button{
    font-family: "Grenze", serif;
    padding: clamp(8px, 0.525vw, 16px) clamp(24px, 1.66vw, 42px);
    font-size: clamp(16px, 1.302vw, 32px);
    transition: all 0.5s ease-in-out;
    border: 2px solid #E1BC8A;
    border-radius: 0;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.5s;
    z-index: 1;
    color: #42382D;
    background: #E1BC8A;
    text-transform: uppercase;
}
.coffees-premium button:hover:before {
    top: -114px;
    left: -33px;
    background: #0D0D0D;
    transition: all 0.5s ease-in-out;
}
.coffees-premium button:hover {
    color: #F3EFE6;
}
.coffees-premium button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #F3EFE6;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}

/* Menú */

.container-oferta, .container-gallery{
    padding: 60px 0;
}
.list-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery-menu{
    width: 95%;
}
.gallery-menu .filter-item{
    position: relative;
    border: 4px solid #E1BC8A;
    background: #F3EFE6;
    box-shadow: 24px 24px 10px rgba(24, 25, 27, 0.01), 15px 15px 9px rgba(24, 25, 27, 0.09), 9px 9px 7px rgba(24, 25, 27, 0.3), 4px 4px 5px rgba(24, 25, 27, 0.51), 1px 1px 3px rgba(24, 25, 27, 0.59), 0px 0px 0px rgba(24, 25, 27, 0.6);
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    font-size: 47px;
    line-height: 110%;
    color: #1B1C1E;
    font-family: "Grenze", serif;
    text-transform: uppercase;
    margin-bottom: 50px;
    min-height: 167px;
    padding-top: 60px;
    transition: all 0.5s ease-in-out;
}
.gallery-menu .filter-item:hover{
    color: var(--color-cream);
}
.gallery-menu .filter-item::before{
    content: url(img/object-left.png);
    position: absolute;
    top: 10px;
    left: 10px;
}
.gallery-menu .filter-item::after {
    content: url(img/object-right.png);
    position: absolute;
    bottom: 2px;
    right: 10px;
}
.galeria{
    width: min(100%, 1340px);
    margin: 0 auto;
    padding: 4rem 0;
}
.galeria-card.hide{
    display: none;
}
.galeria-card.show{
    animation: fadeIn .5s ease;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.galeria{
    display: flex;
}
.galeria-img, .list-projects{
    width:50%;
}
.galeria-img a{
    text-decoration: none;
    color: black;
}
.galeria-card{
    width: 95%;
    height: 350px;
    display: block;
    position: relative;
    overflow: hidden;
    padding: 16px;
    border: 4px solid #E1BC8A;
    background: transparent;
    min-height: 820px;
}
.galeria-card img{
    width: 100%;
    height: 100%;
}
.galeria-prue{
    width: 100%;
    height: 100%;
    position: relative;
    background: #F3EFE6;
}
.menu-cart-compl{
    padding: 0 25px 128px 22px;
}
.galeria-prue .menu-cart-compl{
    text-align: center;
}
.galeria-prue .menu-cart-compl::before{
    content: url(img/object-left.png);
    position: absolute;
    top: 16px;
    left: 16px;
}
.galeria-prue .menu-cart-compl::after{
    content: url(img/object-right.png);
    position: absolute;
    bottom: 6px;
    right: 16px;
}
.galeria-prue .menu-cart-compl h2{
    font-weight: 700;
    font-size: 50px;
    line-height: 110%;
    text-transform: uppercase;
    color: #1B1C1E;
    text-align: center;
    font-family: "Grenze", serif;
    padding: 50px 0 40px;
    margin-bottom: 0;
}
.galeria-prue .menu-cart-compl .menu-list-cart{
    margin-bottom: 20px;
}
.galeria-prue .menu-cart-compl .menu-list-cart .dishes-item{
    border-bottom: 1px solid #E1BC8A;
}
.align-items-center{
    display: flex;
}
.galeria-prue .menu-cart-compl .menu-list-cart .dishes-item 
.number-list{
    flex: 0 0 auto;
    width: 8.33333333%;
}
.galeria-prue .menu-cart-compl .menu-list-cart .dishes-item 
.number-list span{
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.06em;
    color: #797D86 !important;
}
.galeria-prue .menu-cart-compl .menu-list-cart .dishes-item 
.title-list-cart{
    flex: 0 0 auto;
    width: 91.66666667%;
}
.galeria-prue .menu-cart-compl .menu-list-cart .dishes-item 
.title-list-cart .upper-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.galeria-prue .menu-cart-compl .menu-list-cart .dishes-item 
.title-list-cart .upper-row h5{
    font-weight: 900;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.06em;
    color: #42382D;
    margin-bottom: 5px;
    font-family: "Lato", sans-serif;
}
.galeria-prue .menu-cart-compl .menu-list-cart .dishes-item 
.title-list-cart .upper-row samp{
    font-weight: 900;
    font-size: 20px;
    line-height: 140%;
    color: #42382D;
    margin-bottom: 5px;
    font-family: "Lato", sans-serif;
}
.galeria-prue .menu-cart-compl .menu-list-cart p{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.06em;
    color: #797D86;
    margin: 0;
    padding: 10px 40px 0 40px;
    text-align: left !important;
}

/* Ofertas Populares */

.container-oferta .title-oferta,
.container-gallery .title-gallery{
    padding: 0 0 80px 0;
}
.row-ofertas{
    width: min(100%, 1340px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
}
.col-xl-ofertas{
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
}
.col-cl{
    display: flex;
    flex-direction: row-reverse;
}
.row-ofertas .col-xl-ofertas img,
.row-ofertas .col-xl-ofertas .conten-oferta{
    width: 40%;
}
.row-ofertas .col-xl-ofertas img{
    width: 542px;
    height: 400px;
}
.conten-oferta{
    padding: 16px;
    border: 4px solid #E1BC8A;
    background: transparent;
    height: auto;
}
.detail-oferta{
    background: #F3EFE6;
    padding: 20px;
}
.detail-oferta h6{
    font-weight: 900;
    line-height: 120%;
    color: #E1BC8A;
    margin-bottom: 8px;
    font-size: 25px;
}
.detail-oferta ul{
    margin-bottom: 27px;
    padding-left: 2rem;
}
.detail-oferta ul li{
    list-style: outside !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.06em;
    color: #797D86;
}
.text-end{
    text-align: right !important;
}
.text-end span{
    font-weight: 900;
    line-height: 120%;
    color: #42382D;
    font-size: 25px;
}

/* GALERÍA DE COMIDA */

.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.scroll img{
    width: 280px;
    height: 300px;
    margin: 0 18px;
    transition: .5s;
    cursor: pointer;
}
.scroll{
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    padding: 0 2rem 3rem 0;
}
.scroll .este{
    white-space: nowrap;
    animation: animate 30s linear infinite;
}
@keyframes animate {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-100%);
    }
}

/* Contacto */

.contacto{
    position: relative;
    width: 100%;
    height: 700px;
    background-image: url(img/section-bg-10.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
}
/* form */
.conten-contacto{
    padding: 16px;
    border: 4px solid #E1BC8A;
    background: transparent;
    width: 40%;
    height: auto;
    margin-left: 3rem;
}
.conten-contacto-width{
    width: min(100%, 1340px);
    margin: 0 auto;
}
.detail-contacto{
    background: #F3EFE6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detail-contacto .title-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.detail-contacto .title-contacto img{
    width: 60px;
    height: 40px;
}
.detail-contacto .title-contacto h2{
    color: var(--color-brown);
    text-transform: uppercase;
    font-size: 51px;
}
.contacto form{
    width: 80%;
    text-align: center;
    margin-bottom: 2rem;
}
.contacto form input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #2C2D2F;
    padding: 30px 0 10px 0;
    width: 100%;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    color: var(--color-brown) !important;
}
.contacto form input[type="date"]::-webkit-calendar-picker-indicator,
.contacto form input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(12%) sepia(6%) saturate(400%) hue-rotate(180deg) brightness(90%);
    cursor: pointer;
}
.contacto form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #F3EFE6 inset !important;
    -webkit-text-fill-color: #2C2D2F !important;
    transition: background-color 5000s ease-in-out 0s;
}
.contacto form input::placeholder {
    color: var(--color-brown) !important;
}
.contacto form input:focus{
    border-bottom: 2px solid #42382D;
    outline: none;
}
.contacto form button{
    overflow: hidden;
    position: relative;
    font-size: 15px;
    color: #F3EFE6;
    padding: 10px 23px;
    border: 4px solid #E1BC8A;
    background-color: #2C2D2F;
    transition: color 0.5s;
    text-transform: uppercase;
    z-index: 1;
    margin-top: 2rem;
}
.contacto form button:hover:before {
    top: -114px;
    left: -33px;
    background: #E1BC8A;
    transition: all 0.5s ease-in-out;
}
.contacto form button:hover {
    color: var(--color-brown);
}
.contacto form button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #F3EFE6;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}

/* form-contact */

.form-contact{
    display: flex;
    position: relative;
    
}
.form-contact .entrada, .form-contact .contacto-inf{
    width: 50%;
    height: 500px;
}
.content-entrada, .content-inf-contact{
    position: relative;
    margin: 4rem 0 0 3.5rem;
    color: #fff;
    z-index: 100;
}
.form-contact .entrada{
    position: relative;
    height: 500px;
    background-image: url(img/section-bg-7-5.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}
.form-contact .entrada::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    z-index: 1;
}
.contacto-inf{
    background-color: var(--color-brown)
}
.entrada-title, .week-day, .week-end,
.contacto-title, .cellphone-contact, .email-contact, .address-contact{
    margin-bottom: 2rem;
}
.form-contact .content-entrada .entrada-title h2,
.contacto-inf .content-inf-contact .contacto-title h2{
    font-size: 51px;
    text-transform: uppercase;
}
.form-contact .content-entrada .week-day p:nth-child(1),
.form-contact .content-entrada .week-end p:nth-child(1),
.contacto-inf .content-inf-contact .cellphone-contact p:nth-child(1),
.contacto-inf .content-inf-contact .email-contact p:nth-child(1),
.contacto-inf .content-inf-contact .address-contact p:nth-child(1){
    font-size: 20px;
    color: var(--color-cream);
    text-transform: uppercase;
}
.form-contact .content-entrada .week-day p:nth-child(2),
.form-contact .content-entrada .week-end p:nth-child(2),
.contacto-inf .content-inf-contact .cellphone-contact p:nth-child(2),
.contacto-inf .content-inf-contact .email-contact p:nth-child(2),
.contacto-inf .content-inf-contact .address-contact p:nth-child(2){
    font-size: 20px;
    color: var(--color-cream);
    color: #fff;
}
.form-contact .content-entrada button{
    overflow: hidden;
    position: relative;
    font-size: 22px;
    color: #F3EFE6;
    padding: 10px 23px;
    border: 1px solid #E1BC8A;
    background-color: #2C2D2F;
    transition: color 0.5s;
    text-transform: uppercase;
    z-index: 1;
}
.form-contact .content-entrada button:hover:before {
    top: -114px;
    left: -33px;
    background: #E1BC8A;
    transition: all 0.5s ease-in-out;
}
.form-contact .content-entrada button:hover {
    color: var(--color-brown);
}
.form-contact .content-entrada button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #F3EFE6;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}

/* Contacto - Contacto-Form */

.container-contacto-form{
    width: min(98%, 1340px);
    margin: 0 auto;
}
.container-contacto-form .container-contacto{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;
}
.container-contacto-form .container-contacto .filter-item{
    padding: 16px;
    border: 4px solid #E1BC8A;
    background: transparent;
    cursor: pointer;
    width: 31%;
}
.container-contacto-form .container-contacto .filter-item .contact-link-box{
    text-align: center;
    padding: 32px 0;
    box-shadow: 40px 73px 33px rgba(0, 0, 0, 0.01), 23px 41px 28px rgba(0, 0, 0, 0.05), 10px 18px 21px rgba(0, 0, 0, 0.09), 3px 5px 11px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    background: #F3EFE6;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-contacto .filter-item .contact-link-box a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 400;
    font-size: clamp(18px, 1.302vw, 34px);
    line-height: 140%;
    color: #797D86;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    font-size: 25px;
}
.container-contacto .filter-item .contact-link-box a:hover{
    color: var(--color-cream);
}

/* form */

.container-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 7rem 0;
}
.container-form .contain-form, .map-width{
    width: 48%;
}
.map-width iframe{
    width: 100%;
}
.container-form .contain-form h3{
    font-size: 41px;
    text-transform: uppercase;
    color: #f0d2aa;
    margin-bottom: 2rem;
}
.container-form .contain-form{
    margin-left: 2%;
}
.container-form .contain-form form{
    width: 90%;
}
.container-form .contain-form form input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #AFB1B6;
    color: #AFB1B6;
    padding: 30px 0 10px 0;
    width: 100%;
    font-size: 20px;
    font-family: "Lato", sans-serif;
}
input::placeholder {
    color: #AFB1B6 !important;
}
.container-form .contain-form form input:focus{
    border-bottom: 2px solid #429ec9;
    outline: none;
}
.container-form .contain-form form button{
    margin-top: 3rem;
    overflow: hidden;
    position: relative;
    font-size: 22px;
    color: #F3EFE6;
    padding: 10px 23px;
    border: 1px solid #E1BC8A;
    background-color: #2C2D2F;
    transition: color 0.5s;
    text-transform: uppercase;
    z-index: 1;
}
.container-form .contain-form form button:hover:before {
    top: -114px;
    left: -33px;
    background: #E1BC8A;
    transition: all 0.5s ease-in-out;
}
.container-form .contain-form form button:hover {
    color: var(--color-brown);
}
.container-form .contain-form form button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #F3EFE6;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}
.container-form .contain-form form input[type="date"]::-webkit-calendar-picker-indicator,
.container-form .contain-form form input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(75%) sepia(7%) saturate(200%) hue-rotate(180deg);
    cursor: pointer;
    opacity: 1;
}
.container-form .contain-form form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #42392C inset !important;
    -webkit-text-fill-color: #AFB1B6 !important;
    transition: background-color 5000s ease-in-out 0s;
}

/* footer */

footer{
    background-color: #D6D8DB;
    padding: 3rem 2rem 1rem 2rem;
}
footer .redes-sociales{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 0 3rem 0;
}
.footer-down{
    padding: 1rem 0 0 0;
    border-top: 1px solid #42382d8e;
}
footer .redes-sociales p{
    font-size: 20px;
}
footer .redes-sociales .social-icon{
    display: flex;
    gap: 20px;
}
footer .redes-sociales .social-icon a > i{
    font-size: 40px;
    color: var(--color-brown);
    transition: 0.5s all;
}
footer .redes-sociales .social-icon a > i:hover {
    color: #696a6b;
}

/* whatsApp */

.whatsapp-container{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 50px;
    height: auto;
    position: fixed;
    bottom: 15px;
    right: 45px;
    z-index: 9999999;
}
.whatsapp-container img{
    width: 60px;
    height: auto;
    background: #36c62a;
    border-radius: 100%;
    padding: 8px;
    border: solid 4px white;
}
.icono-whatsapp{
    display: block;
    margin: 10px;
}

/* Para Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Nosotros */

.container-nosotros{
    display: flex;
    justify-content: center;
    padding: 50px 0;
    width: min(95%, 1340px);
    margin: 0 auto;
}
.container-nosotros figure{
    width: 45%;
}
.container-nosotros .nosotros-content{
    width: 46%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.container-nosotros figure img{
    width: 460px;
    height: 500px;
}
.container-nosotros .nosotros-content h2{
    font-size: 51px;
    text-transform: uppercase;
    color: var(--color-cream);
    line-height: 50px;
}
.nosotros-content .title-premium{
    display: flex;
    gap: 20px;
}
.nosotros-content .text-nosotros{
    width: 90%;
    font-size: 22px;
    font-family: lato, sans-serif;
    padding: 20px 0;
    color: #F3EFE6;
}
.essence-container .title-menu{
    padding: 50px 0;
}
.essence-container .essence-contain{
    padding: 16px;
    border: 4px solid #E1BC8A;
    background: transparent;
}
.essence-container .essence-contain{
    width: 100%;
}
.essence-container .essence-contain .essence-inf{
    width: 100%;
    height: 100%;
    padding: 30px 0 30px 30px;
    background: #F3EFE6;
    display: flex;
}
.essence-container .essence-contain .essence-inf 
.essence-inf-width{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.essence-container .essence-contain .essence-inf .essence-img{
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: end;    
}
.essence-container .essence-contain 
.essence-inf .essence-inf-width h4{
    font-size: 15px;
    font-family: lato, sans-serif;
    color: #42382D;
}
.essence-container .essence-contain 
.essence-inf .essence-inf-width h1{
    width: 80%;
    text-transform: uppercase;
    line-height: 30px;
}
.essence-container .essence-contain 
.essence-inf .essence-inf-width p{
    font-size: 18px;
    font-family: lato, sans-serif;
    color: #797D86;
    line-height: 140%;
    line-height: 30px;
}
.essence-inf .essence-img img{
    width: 230px;
    height: 350px;
}

/* Question - Nosotros */
.essence-container{
    padding: 4rem 0;
}
.question-container-nosotros .title-menu{
    padding: 50px 0;
}
.questions-container{
    max-width: 1050px;
    margin: 0 auto;
    padding: 10px 0 10rem 0;
}
.question{
    border-bottom: 1px solid transparent;
    margin-bottom: 1rem;
}
.question button{
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border:none;
    outline: none;
    font-size: 22px;
    color: #2C2D2F;
    font-weight: 700;
    cursor: pointer;
    background-color: #F3EFE6;
    border: 3px solid var(--color-cream);
}
.question button i{
    color: #2C2D2F;
}
.question p{
    font-size: 22px;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
}
.d-arrow{
    transition: transform 0.5s ease-in ;
    color: #fff;
}
.question p.show{
    color: white;
    max-height: 250px; 
    opacity: 1;
    padding:30px 15px 30px 15px;
}
.question button .d-arrow.rotate{
    transform: rotate(180deg);
}

/* slider */

.slider {
    width: 100%;
    max-width: 900px;
    height: 500px;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
}
.slides {
    display: flex;
    width: 300%;
    height: 100%;
    animation: slide 15s infinite;
}
@keyframes slide {
    0%   { margin-left: 0%; }
    33%  { margin-left: 0%; }
    36%  { margin-left: -100%; }
    66%  { margin-left: -100%; }
    69%  { margin-left: -200%; }
    99%  { margin-left: -200%; }
    100% { margin-left: 0%; }
}

/* scrool */

.hidden {
    opacity: 0;
    filter: blur(1px);
    transform: translateY(50px);
    transition: all 1s;
}
.hidden-right {
    opacity: 0;
    filter: blur(1px);
    transform: translatex(300px);
    transition: all 1s;
}
.hidden-left{
    opacity: 0;
    filter: blur(1px);
    transform: translatex(-300px);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translatex(0);
}

/* responsive */

@media(max-width:715px){
    /* banner */
    .container-banner{
        padding: 30px 0;
    }
    .banner{
        height: auto;
    }
    .banner .container-banner .contain{
        margin: 50px 0 100px 0;
        text-align: left;
    }
    .contain .title-banner .p-1, .contain .title-banner .p-2{
        font-size: 42px;
    }
    .contain .title-banner{
        justify-content: center;
        gap: 20px;
    }
    .banner .contain p{
        text-align: center;
    }
    .btn-banner-menu .icon, .btn-banner-menu:after{
        display: none;
    }
    .btn-banner-menu{
        margin-bottom: 4rem;
        justify-content: center;
    }
    
    /* Premium */

    .container-premium .title-premium h2,
    .container-menu .title-menu h2, .container-oferta
    .title-oferta h2, .container-gallery .title-gallery h2{
        font-size: 36px;
        text-align: center;
        line-height: 120%;
        width: min-content;
    }
    .container-premium .title-premium,
    .container-menu .title-menu, .container-oferta
    .title-oferta, .container-gallery .title-gallery{
        gap: 20px;
    }
    .coffees-premium{
        width: 96%;
    }
    .container-premium{
        height: auto;
        clip-path: none;
    }
    .container-coffees-premium{
        padding: 30px 0;
    }

    /* Menú */

    .container-menu .title-menu{
        padding: 50px 0 50px 0;
    }
    .galeria{
        flex-direction: column;
        align-items: center;
    }
    .list-projects{
        width: 100%;
    }
    .galeria-img{
        width: 95%;
    }
    .galeria-card{
        width: 100%;
    }
    .gallery-menu .filter-item{
        margin-bottom: 30px;
    }
    .galeria-card{
        height: auto;
    }
    .menu-cart-compl{
        padding: 0 25px 90px 22px;
    }
    .galeria-prue .menu-cart-compl .menu-list-cart .dishes-item .number-list{
        width: 16.66666667%;
    }
    .galeria-prue .menu-cart-compl .menu-list-cart .dishes-item .title-list-cart{
        width: 83.33333333%;
    }

    /* ofertas */

    .col-xl-ofertas,
    .row-ofertas .col-xl-ofertas img{
        width: 95%;
    }
    .row-ofertas .col-xl-ofertas .conten-oferta{
        width: 98%;
    }
    .row-ofertas .col-xl-ofertas img{
        width: 100%;
    }
    .col-xl-ofertas{
        gap: 20px;
    }

    /* contact */

    .conten-contacto{
        width: 95%;
    }
    .conten-contacto{
        margin: 0;
    }
    .contacto{
        justify-content: center;
    }
    .form-contact{
        flex-direction: column;
    }
    .form-contact .entrada, .form-contact .contacto-inf{
        width: 100%;
    }
    .detail-contacto .title-contacto h2{
        font-size: 30px;    
    }
    .conten-contacto-width{
        display: flex;
        justify-content: center;
    }
    .form-contact .entrada{
        background-size: 200% 100%;
    }

    /* Contact - Contacto-Form*/

   .banner-menu figure, .img-banner-fondo{
        display: none;
   }
   .banner-menu{
        margin: 2.5rem 0;
   }
   .banner-menu{
        height: 100px;
   }
   .title-banner-menu{
        width: 100%;
        justify-content: center;
   }
   .title-banner-menu img{
        width: 60px;
        height: 40px;
   }
   .title-banner-menu h2{
        font-size: 40px;
   }
   .container-contacto-form .container-contacto,
   .container-form{
        flex-direction: column;
        align-items: center;
   }
   .container-contacto-form .container-contacto .filter-item,
   .container-form .contain-form, .map-width{
        width: 95%;
   }
   .container-form{
        margin: 5rem 0
   }
   .container-form .contain-form form{
    width: 98%;
   }
   .container-form .contain-form{
        margin: 0 1% 5rem 1%;
   }

   /* Nosotros */

   .container-nosotros{
        flex-direction: column;
        align-items: center;
   }
   .container-nosotros figure, .container-nosotros .nosotros-content{
        width: 95%;
   }
   .container-nosotros .nosotros-content h2,
   .essence-container .title-menu h2,
   .question-container-nosotros h2{
        text-align: center;
        line-height: 40px;
        font-size: 36px;
   }
   .nosotros-content .text-nosotros{
        width: 100%;
        text-align: center;
   }
   .container-nosotros .nosotros-content{
        margin-top: 7rem;
   }
   .essence-container{
        padding: 0rem 0;
   }
    .essence-container .title-menu{
        gap: 20px;
    }
    .essence-container .essence-contain .essence-inf .essence-inf-width,
    .essence-container .essence-contain .essence-inf .essence-img{
        width: 100%;
    }
    .essence-container .essence-contain .essence-inf{
        flex-direction: column;
        gap: 20px;
    }
    .slider{
        height: auto;
    }
    .question-container-nosotros{
        padding: 50px 0 0 0;
    }
    .essence-container .essence-contain .essence-inf{
        padding: 0;
    }
    .essence-container .essence-contain .essence-inf .essence-inf-width{
        padding: 20px 20px 0 20px;
    }
    .essence-inf .essence-img img{
        margin-bottom: 2rem;
    }
    
}

@media(max-width:1000px){
 /* header */
    .nav-container{
        --icon-toggle-menu: url("assets/menu-close.svg");  
        --transform-menu-show: translate(-100%);
    }
    .nav-list{ 
        transform: var(--transform-menu-show);
        position: absolute;
        inset: 0;
        display: grid;
        gap: 1rem;
        text-align: center;
        padding: 14rem 11%;
        background-color: #fff;
        z-index: 10;
        transition: .5s transform;
        align-content: start;
        max-height: max-content;
    }
    .nav-link{
        display: flex;
        justify-content: space-between;
        color: black;
        padding: 24px 10px;
        border-bottom: 1px solid #9f9d9dc9;
    }
    .nav-image, .nav-toggle{
        z-index: 20;
    }
    .nav-toggle{
        width: 40px;
        height: 40px;
        background-image: var(--icon-toggle-menu);
        background-size: cover;
        cursor: pointer;
        transition: background-image .5s;
    }
    .nav-input{
        width: 40px;
        height: 40px;
        display: none;
    }
    .nav-container:has(.nav-input:checked){
        --icon-toggle-menu: url("assets/menu-open.svg"); 
        --transform-menu-show: translate(0);
        overflow: hidden;
    }
    .nav-list .nav-item .menu-servicios{
        width: 100%;
        position: unset;
        visibility: hidden;
        top: 0%;
        left: 0;
        box-shadow: 0 0 0 0;
        transform: translateY(0px);
    }
    .nav-list .nav-item:hover .menu-servicios{
        transform: translate(2px);
        visibility: visible;
        opacity: 1;
        border-top: 2px solid #F01E28;
        transition: 0.2s ease;
    }
    .nav-list .nav-item button{
        display: none;
    }
    
}

@media screen and (min-width: 715px) and (max-width: 1000px){
    /* banner */
    .container-banner{
        padding: 200px 0 62px 0;
    }
    /* Premium */
    .coffees-premium{
        width: 70%;
        margin-bottom: 3rem;
    }
    .container-premium{
        height: auto;
        clip-path: none;
    }

    /* Menú */
    .galeria{
        flex-direction: column;
        align-items: center;
    }
    .galeria-img, .list-projects{
        width: 80%;
        display: flex;
        justify-content: center;
    }
    .container-menu .title-menu{
        padding: 60px 0;
    }
    .row-ofertas .col-xl-ofertas .conten-oferta{
        width: 80%;
        margin-top: 3rem;
    }
    .conten-contacto{
        width: 60%;
    }

    /* Menu - Banner */

    .img-banner-fondo{
        display: none;
    }
    .banner-menu, .title-banner-menu{
        gap: 10px;
    }
    .banner-menu figure img{
        width: 300px;
        height: 300px;
    }
    .title-banner-menu img{
        width: 60px;
        height: 40px;
    }
    .title-banner-menu h2{
        font-size: 50px;
    }
    .container-contacto-form .container-contacto{
        flex-wrap: wrap;
    }
    .container-contacto-form .container-contacto .filter-item{
        width: 45%;
    }
    .container-form{
        flex-direction: column;
    }
    .container-form .contain-form, .map-width {
        width: 90%;
    }
    .container-form .contain-form{
        margin: 0 1% 5rem 1%;
    }
    .container-form .contain-form form{
        width: 98%;
    }
    .container-premium .title-premium h2, .container-menu .title-menu h2, 
    .container-oferta .title-oferta h2, .container-gallery .title-gallery h2{
        width: max-content;
        line-height: 100%;
        text-align: center;
    }
    .container-premium .title-premium, .container-menu .title-menu, 
    .container-oferta .title-oferta, .container-gallery .title-gallery{
        gap: 20px;
    }   
    .banner-menu{
        height: 300px;
    }
    .banner-menu figure{
        right: 10%;
    }

    /* Nosotros */

    .container-nosotros{
        justify-content: space-around;
    }
    .container-nosotros .nosotros-content h2{
        font-size: 30px;
    }
    .questions-container{
        max-width: 750px;
    }
    .nosotros-content .text-nosotros{
        width: 100%;
    }
    .container-nosotros .nosotros-content{
        padding: 0;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1300px){

    /* banner */
    .container-banner{
        padding: 200px 50px 62px 100px;
    }
    .coffees-premium{
        width: 45%;
        margin-bottom: 3rem;
    }
    .container-premium{
        height: auto;
        clip-path: none;
    }
    /* premium */

    .container-menu .title-menu{
        padding: 60px 0;
    }

    /* menu */
    .galeria-card{
        height: auto;
    }
    .menu-cart-compl{
        padding: 0 25px 30px 22px;
    }

    /* ofertas */

    .col-xl-ofertas{
        width: 90%;
    }
    .row-ofertas .col-xl-ofertas img{
        width: 500px;
    }

    /* contacto */

    .conten-contacto{
        width: 45%;
    }

    /* Contact - Menú Banner */

    .banner-menu figure img{
        width: 400px;
        height: 400px;
    }
    .container-contacto-form .container-contacto{
        gap: 1rem;
    }
    .container-contacto-form .container-contacto .filter-item{
        width: 33%;
    }
    .container-contacto .filter-item .contact-link-box a{
        font-size: 22px;
    }
    .title-banner-menu img{
        width: 60px;
        height: 40px;
    }
    .title-banner-menu h2{
        font-size: 55px;
    }
    .banner-menu{
        height: 400px;
    }
    .banner-menu figure{
        right: 10%;
    }
    .container-nosotros{
        justify-content: space-around;
    }
    .questions-container{
        max-width: 900px;
    }
}